<template>
    <!--<FullCalendar defaultView="dayGridMonth" :plugins="calendarPlugins" />-->
    <div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">Calendar Events</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <form @submit.prevent="SaveEvents">
                                <div class="form-group">
                                    <label for="event">Event</label>
                                    <input type="text" class="form-control" id="Event" v-model="EventTitle">
                                </div>
                                <div class="form-group">
                                    <label >From</label>
                                    <input type="date" v-model="StartOfEvent" name="startOfEvent" id="startOfEvent" class="form-control" @change="changeToDate($event)"> 
                                </div>
                                <div class="form-group">
                                    <label >To</label>
                                    <input type="date" name="EndOfEvent" id="EndOfEvent" v-model="EndOfEvent" class="form-control">
                                </div>
                                <div class="container-fluid">
                                    <div class="form-group row">
                                        <div class="form-check col-3" v-for="day in daysRepeated" :key="day.val">
                                            <input type="checkbox" class="form-check-input" id="mon" v-model="days" :value="day.val" @click="check($event)">
                                            <label class="form-check-label">{{ day.label }}</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                        <div class="col-9">
                            <FullCalendar class="events-calendar" ref="fullCalendar" defaultView="dayGridWeek" :header="{
                                left: 'title',
                                center: '',
                                right: 'prev, next'
                            }" :plugins="calendarPlugins" :events="calendarEvents" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import FullCalendar from "@fullcalendar/vue";
    import dayGridPlugin from "@fullcalendar/daygrid";
    import timeGridPlugin from "@fullcalendar/timegrid";
    import interactionPlugin from "@fullcalendar/interaction";

    export default {
        mounted() {
            console.log('Component mounted.');
             var date = new Date();
             var month = date.getMonth() + 1; //Months are zero based
            if(month < 10)
                month = '0'+month;

             var formattedDate = date.getFullYear() +"-"+ month + "-" + date.getDate()
             $("#startOfEvent").attr('min', formattedDate);
             $("#EndOfEvent").attr('min', formattedDate);

            var currentEvents = [];
            axios.get('api/showall',{}).then(response => {
                console.log(response.data);
                //this.records = response.data;
                
               // console.log(records);
                $.each(response.data, function(a, b){
                    console.log(b);
                    //console.log(JSON.parse(b.daysOfWeek));
                    currentEvents.push({
                        // add new event data
                        title: b.title,
                        start: b.start,
                        end: b.end,
                        daysOfWeek:JSON.parse(b.daysOfWeek),
                        endRecur:b.end
                    });
                });
                console.log(this.records);
            });
            this.calendarEvents = currentEvents;
            console.log(this.calendarEvents);
           
        },
        components: {
            FullCalendar
        },
        data: function() {
            return {
                calendarPlugins: [
                    dayGridPlugin,
                ],
                calendarWeekends: true,
                calendarEvents: this.records,
                daysRepeated:[{val:0, label:'Sun'}, {val:1, label:'Mon'},{val:2, label:'Tue'},{val:3, label:'Wed'},{val:4, label:'Thu'},{val:5, label:'Fri'},{val:6, label:'Sat'}],
                StartOfEvent: new Date(),
                EndOfEvent:new Date(),
                EventTitle:'',
                days: [],
                currentEvents: [],
                records:[]
            };
        },
        methods: {
            check(event){
               // this.days = [];
                if (event.target.checked) {
                    console.log(event.target.value)
                    this.days.push(event.target.value);
                } else {
                    var lookForIndex = this.days.indexOf(event.target.value);
 
                    if (lookForIndex > -1) {
                        this.days.splice(lookForIndex, 1);
                    }
                }

                console.log(this.days)
                //this.days.push =   
            },
            SaveEvents() {
                console.log(this.days);
                var formdata = {
                    title: this.EventTitle,
                    start: this.StartOfEvent,
                    end: this.EndOfEvent,
                    daysOfWeek: JSON.stringify(this.days)
                };

                axios.post('api/saveevent', formdata).then(response => {
                    console.log(response.data)
                    var dataResponse = response.data;
                    this.calendarEvents.push({
                        // add new event data
                        title: this.EventTitle,
                        start: this.StartOfEvent,
                        end: this.EndOfEvent,
                        daysOfWeek: this.days,
                        endRecur:this.EndOfEvent
                    });
                });
            },
            changeToDate(event){
                $("#EndOfEvent").attr('min', event.target.value);
                
            }
        }
    }

</script>

<style lang='scss'>

    @import "~@fullcalendar/core/main.css";
    @import "~@fullcalendar/daygrid/main.css";

</style>
